body {
  margin: 0;
  font-family: 'Space Mono', monospace;
}

#canvas {
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#guide {
  display: grid;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#guide div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
}

#pokedex {
  height: 100vh;
  width: auto;
  display: flex;
  border: 1px solid black;
  border-radius: 10%;
}

#left-grid {

}

#right-grid {

}
